{# templates/emails/password_reset.html.twig #}
{% block html %}
<!DOCTYPE html>
<html>
<body>
    <p>You requested to reset your password. Click the link below to continue:</p>
    <p>
        <a href="{{ resetUrl }}">Reset Password</a>
    </p>
    <p>This link will expire on {{ expiry|date('F j, Y H:i') }}.</p>
    <p>If you didn't request this, please ignore this email.</p>
</body>
</html>
{% endblock %}